In [2]:
import pandas as pd

# Chemin du fichier CSV
input_file = "../city_temperature.csv"

# Chargement des donnÃ©es
df = pd.read_csv(input_file, delimiter=",", low_memory=False)

# Afficher les premiÃ¨res lignes du dataset
print("ðŸ“Œ AperÃ§u du dataset :")
print(df.head())

# Afficher les types de donnÃ©es des colonnes
print("\nðŸ“Œ Types de donnÃ©es :")
print(df.dtypes)

# Nombre de lignes et de colonnes
print("\nðŸ“Œ Dimensions du dataset :")
print(f"Nombre de lignes : {df.shape[0]}")
print(f"Nombre de colonnes : {df.shape[1]}")

ðŸ“Œ AperÃ§u du dataset :
   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9

ðŸ“Œ Types de donnÃ©es :
Region             object
Country            object
State              object
City               object
Month               int64
Day                 int64
Year                int64
AvgTemperature    float64
dtype: object

ðŸ“Œ Dimensions du dataset :
Nombre de lignes : 2906327
Nombre de colonnes : 8

In [4]:
# VÃ©rification des valeurs manquantes
print("\nðŸ“Œ Valeurs manquantes :")
print(df.isnull().sum())

# Suppression des lignes contenant des valeurs manquantes
df_cleaned = df.dropna()

# Alternative : Remplacement des valeurs manquantes par la moyenne de la rÃ©gion
df_filled = df.copy()
df_filled["AvgTemperature"] = df.groupby("Region")["AvgTemperature"].transform(lambda x: x.fillna(x.mean()))

# Affichage aprÃ¨s nettoyage
print("\nðŸ“Œ DonnÃ©es nettoyÃ©es :")
print(df_filled.isnull().sum())

ðŸ“Œ Valeurs manquantes :
Region                  0
Country                 0
State             1450990
City                    0
Month                   0
Day                     0
Year                    0
AvgTemperature          0
dtype: int64

ðŸ“Œ DonnÃ©es nettoyÃ©es :
Region                  0
Country                 0
State             1450990
City                    0
Month                   0
Day                     0
Year                    0
AvgTemperature          0
dtype: int64

In [5]:
# Calcul des statistiques principales
print("\nðŸ“Œ Analyse statistique des tempÃ©ratures :")
print(f"TempÃ©rature moyenne : {df['AvgTemperature'].mean():.2f}Â°C")
print(f"TempÃ©rature mÃ©diane : {df['AvgTemperature'].median():.2f}Â°C")
print(f"TempÃ©rature minimale : {df['AvgTemperature'].min():.2f}Â°C")
print(f"TempÃ©rature maximale : {df['AvgTemperature'].max():.2f}Â°C")

# DÃ©tection des valeurs aberrantes (exemple : tempÃ©ratures < -50Â°C ou > 50Â°C)
outliers = df[(df["AvgTemperature"] < -50) | (df["AvgTemperature"] > 50)]
print("\nðŸ“Œ Valeurs aberrantes dÃ©tectÃ©es :")
print(outliers)

ðŸ“Œ Analyse statistique des tempÃ©ratures :
TempÃ©rature moyenne : 56.00Â°C
TempÃ©rature mÃ©diane : 62.50Â°C
TempÃ©rature minimale : -99.00Â°C
TempÃ©rature maximale : 110.00Â°C

ðŸ“Œ Valeurs aberrantes dÃ©tectÃ©es :
                Region  Country                   State                  City  \
0               Africa  Algeria                     NaN               Algiers
9               Africa  Algeria                     NaN               Algiers
10              Africa  Algeria                     NaN               Algiers
11              Africa  Algeria                     NaN               Algiers
17              Africa  Algeria                     NaN               Algiers
...                ...      ...                     ...                   ...
2906322  North America       US  Additional Territories  San Juan Puerto Rico
2906323  North America       US  Additional Territories  San Juan Puerto Rico
2906324  North America       US  Additional Territories  San Juan Puerto Rico
2906325  North America       US  Additional Territories  San Juan Puerto Rico
2906326  North America       US  Additional Territories  San Juan Puerto Rico

         Month  Day  Year  AvgTemperature
0            1    1  1995            64.2
9            1   10  1995            51.9
10           1   11  1995            51.7
11           1   12  1995            51.3
17           1   18  1995            50.7
...        ...  ...   ...             ...
2906322      7   27  2013            82.4
2906323      7   28  2013            81.6
2906324      7   29  2013            84.2
2906325      7   30  2013            83.8
2906326      7   31  2013            83.6

[2099087 rows x 8 columns]

In [6]:
# Filtrer les donnÃ©es pour un pays spÃ©cifique (exemple : France)
df_france = df[df["Country"] == "France"]
print("\nðŸ“Œ DonnÃ©es de la France :")
print(df_france.head())

# Trier les tempÃ©ratures d'une ville par ordre croissant
ville = "Paris"
df_ville_sorted = df[df["City"] == ville].sort_values(by="AvgTemperature")
print(f"\nðŸ“Œ Jours les plus froids et chauds Ã  {ville} :")
print(df_ville_sorted.head())  # Jours les plus froids
print(df_ville_sorted.tail())  # Jours les plus chauds

# Filtrer les tempÃ©ratures du mois de janvier en France
df_january = df[(df["Country"] == "France") & (df["Month"] == 1)]
print("\nðŸ“Œ TempÃ©ratures en France en janvier :")
print(df_january.head())

ðŸ“Œ DonnÃ©es de la France :
        Region Country State   City  Month  Day  Year  AvgTemperature
712420  Europe  France   NaN  Paris      1    1  1995            37.4
712421  Europe  France   NaN  Paris      1    2  1995            35.2
712422  Europe  France   NaN  Paris      1    3  1995            36.0
712423  Europe  France   NaN  Paris      1    4  1995            30.7
712424  Europe  France   NaN  Paris      1    5  1995            27.0

ðŸ“Œ Jours les plus froids et chauds Ã  Paris :
        Region Country State   City  Month  Day  Year  AvgTemperature
716303  Europe  France   NaN  Paris      8   19  2005           -99.0
713874  Europe  France   NaN  Paris     12   25  1998           -99.0
713873  Europe  France   NaN  Paris     12   24  1998           -99.0
713743  Europe  France   NaN  Paris      8   16  1998           -99.0
713725  Europe  France   NaN  Paris      7   29  1998           -99.0
        Region Country State   City  Month  Day  Year  AvgTemperature
721391  Europe  France   NaN  Paris      7   24  2019            87.9
715565  Europe  France   NaN  Paris      8   12  2003            88.5
715564  Europe  France   NaN  Paris      8   11  2003            89.0
715559  Europe  France   NaN  Paris      8    6  2003            89.9
721392  Europe  France   NaN  Paris      7   25  2019            91.5

ðŸ“Œ TempÃ©ratures en France en janvier :
        Region Country State   City  Month  Day  Year  AvgTemperature
712420  Europe  France   NaN  Paris      1    1  1995            37.4
712421  Europe  France   NaN  Paris      1    2  1995            35.2
712422  Europe  France   NaN  Paris      1    3  1995            36.0
712423  Europe  France   NaN  Paris      1    4  1995            30.7
712424  Europe  France   NaN  Paris      1    5  1995            27.0

In [9]:
# Ajouter une colonne date
df["Date"] = pd.to_datetime(df[["Year", "Month", "Day"]], errors="coerce")

# Moyenne annuelle des tempÃ©ratures pour une ville donnÃ©e
ville = "Paris"
df_paris = df[df["City"] == ville]
mean_temp_per_year = df_paris.groupby("Year")["AvgTemperature"].mean()
print(f"\nðŸ“Œ Moyenne annuelle des tempÃ©ratures Ã  {ville} :")
print(mean_temp_per_year)

# Ã‰volution des tempÃ©ratures moyennes par dÃ©cennie
df["Decade"] = (df["Year"] // 10) * 10
mean_temp_per_decade = df.groupby("Decade")["AvgTemperature"].mean()
print("\nðŸ“Œ Ã‰volution des tempÃ©ratures moyennes par dÃ©cennie :")
print(mean_temp_per_decade)

ðŸ“Œ Moyenne annuelle des tempÃ©ratures Ã  Paris :
Year
1995    53.742192
1996    52.293169
1997    55.580000
1998    50.317534
1999    54.565753
2000    54.337705
2001    53.944932
2002    52.743014
2003    54.562192
2004    53.585246
2005    53.407671
2006    54.199726
2007    53.572055
2008    52.381694
2009    53.061096
2010    51.648219
2011    55.001918
2012    53.256557
2013    52.088493
2014    53.650411
2015    53.434973
2016    51.122951
2017    54.367945
2018    45.773151
2019    52.208219
2020    49.320149
Name: AvgTemperature, dtype: float64

ðŸ“Œ Ã‰volution des tempÃ©ratures moyennes par dÃ©cennie :
Decade
200    -99.000000
1990    51.060152
2000    55.322987
2010    59.560515
2020    53.775568
Name: AvgTemperature, dtype: float64